<link
rel="stylesheet"
href="/css/footer.css"
type="text/css"
/>
<div id="footer">
    <div id="footer-left">
        <h3>Habitify</h3>
        <p>Get in touch with a community of habit builders who strive to better themselves every day with Habitify.</p>
    </div>

    <div id="footer-right" >
        <div>
            <h3>Socials</h3>
            <a href="https://github.com/RajyPhilip" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/128/2504/2504911.png"  alt="">
            </a>
            <a href="https://www.linkedin.com/in/rajy-philip-12014a1b9/" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png" target="_blank" alt="">
            </a>
            <a href="" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png" target="_blank" alt="">
            </a>
        </div>
        <div>
            <p>Privacy Policy</p>
            <P>Terms of Use ></P>
            <p>© 2020 Unstatic</p>
        </div>
    </div>

</div>