<link rel="stylesheet" href="/css/landingPage.css" type="text/css"
/>
    <div id="landing-container">
        <div >
        <h1 id="habit-title" >Habitify</h1>
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/1048/1048953.png" alt="">
        </div>
        <div class="reg-log">
            <p class="create-ac">Create an account ?</p>
            <a class="landing-signup" href="/sign-up">Signup</a>
        </div>
        <div class="reg-log">
            <p>Already Have an account ?</p>
            <a href="/sign-in">Login</a>
        </div>
        <div class="social-login-container">
            <div>
            <p >Social Login!</p>
            </div>
            <div>
                
                <a href="/auth/google" ><img src="https://cdn-icons-png.flaticon.com/128/300/300221.png" alt=""></a>
                <a href="/auth/facebook" ><img src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" alt=""></a> 
            </div>
        </div>
    </div>
