
body{
    font-family: sans-serif;   
     
}

.home-container{
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #9a62cf, rgb(139, 161, 209));
    
}

#description-box{
    display: flex;
   
}

#description{
    padding: 20px;
        border-radius: 1.8rem;
        height: 20px;
        width: 400px;
        font-size: 20px;
        font-weight: 900;
        font-family: sans-serif;
        border: none;
}

#btn-box{
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 444px;
    height: 100px;
}

#add-btn{
    color: white;
    background-color: rgb(102, 92, 238);
    border: none;
    width: 150px;
    height: 50px;
    width: 150px;
    border-radius: 1.8rem;
    font-weight: 900;
    cursor: pointer;
}

.delete-habit-btn{
    color: white;
    background-color: #276fdb;

    border: none;
    height: 30px;
    width: 30px;   
    border-radius: 1.8rem;
    font-weight: 900;
    cursor: pointer;
}
.delete-habit-btn:hover{
    background-color: rgb(235, 27, 27);
    transform: scale(1.2);
}

/* //list  */

ul{
    height: 200px;
    overflow: scroll;
    width: 416px;
}
 ul::-webkit-scrollbar {
    display: none;
}



li {
    display: flex;
    justify-content: space-between;
    width: 425px;
    border-top: 4px solid rgb(0, 0, 0);
    margin-left: -40px;
    padding: 15px;
    a{
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 20px;
    }
    a:hover{
        color: rgb(0, 68, 255);
        transform: scale(1.2);
    }
}
.update-btn{
    background-color: #276fdb;
    border-radius: 1.8rem;
    padding: 5px;
    font-weight: 600;
    color: white;
    margin-left: 4px;
    border: none;
}
.update-btn:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}

.select{
    border-radius: 1.8rem;
    padding: 5px;
    width: 100px;
    font-weight: 600;
    text-transform: capitalize;
    color: white;

    option{
        border-radius: 1.8rem;
        padding: 5px;
        width: 100px;
        font-weight: 800;

    }
}



.none{
    background-color: rgb(189, 128, 59);

}
.done{
    background-color: green;

}
.not-done{
    background-color: red;
}


.fa-stop-circle{
color: red;
}
.fa-check-circle{
color: green;
}

.fa-minus-circle{
color: yellow;
}