#navbar {
  display: flex;
  width: 100%;
  background-image: linear-gradient(45deg, #628ecf, #8ba1d1);
  color: white;
  letter-spacing: 1px;
  border-bottom: 1px solid black; }
  #navbar #logo {
    width: 30%;
    padding: 0px 0px 0px 10px;
    padding-top: 2px;
    display: flex;
    align-items: center; }
    #navbar #logo a {
      width: 30%;
      padding: 0px 0px 0px 10px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white; }
      #navbar #logo a p {
        font-size: 20px;
        margin-left: 10px;
        font-weight: 900; }
      #navbar #logo a img {
        height: 50px;
        width: auto; }
  #navbar #nav-right {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #navbar #nav-right a {
      text-decoration: none;
      color: inherit;
      font-weight: 900;
      font-size: 20px; }
